body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(46, 65, 114,.75);
    color: white;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

input[type="text"], 
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
input[type="date"],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
}

button[type="submit"],
button[type="reset"] {
    background-color: rgb(46, 85, 114);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
    opacity: 0.8;
    background-color:lightseagreen;
    color: black;
}

h1 {
    color: white;
}

label {
    color: white;
}
